body {
  background-color: #999;
  font-family: 'Nunito', sans-serif;
}

.colored-section {
  background-color: #E9E4DC;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* Nav Bar*/
.navbar-brand {
  color: #333;
  font-family: 'Rufina', serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 80px 5px 30px;
}

.navbar-brand:hover {
  color: #333;
}

.nav-item {
  margin: 10px 5px 0;
}

.nav-link {
  color: #444;
  font-size: 1.125rem;
  font-weight: 300;
}

.nav-link:hover {
  color: #666;
}

.page-marker {
  background-color: #444;
  bottom: 20px;
  height: 1px;
  left: 228px;
  position: relative;
  width: 50px;
}

/* Landing Page*/
.landing-page-img-container {
  background-image: url("../Images/Landing_Page_Image.png");
  height: 48.25rem;
  text-align: center;
  width: 100%;
}

.header {
  color: #111;
  float: right;
  font-family: 'Rufina', serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 170px 80px 20px;
}

.seperator {
  background-color: #111;
  height: 7px;
  left: 1000px;
  position: relative;
  top: 245px;
  width: 100px;
}

.bio {
  color: #333;
  display: inline-block;
  float: right;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 15px 75px 20px 500px;
  width: 30%;
}
