body {
  background-color: #999;
  font-family: 'Nunito', sans-serif;
}

.link {
  color: white;
  text-decoration: none;
}

.colored-section {
  background-color: #E9E4DC;
}

.grey-section {
  background-color: #D6D6D6;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* Nav Bar*/
.navbar-brand {
  color: #333;
  font-family: 'Rufina', serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 15px 90px 5px 40px;
}

.navbar-brand:hover {
  color: #333;
}

.nav-item {
  margin: 10px 5px 0;
}

.nav-link {
  color: #444;
  font-size: 1.125rem;
  font-weight: 300;
}

.nav-link:hover {
  color: #666;
}

/* Landing Page*/
.landing-page-img-container {
  background: 100% 100%;
  background-image: url("../Images/Landing_Page_Image.png");
  height: 46.5625rem;
  text-align: center;
  width: 100%;
}

.header {
  color: #111;
  float: right;
  font-family: 'Rufina', serif;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 150px 80px 20px;
}

.seperator {
  background-color: #111;
  height: 7px;
  left: 975px;
  position: relative;
  top: 225px;
  width: 110px;
}

.bio {
  color: #333;
  float: right;
  font-size: 1.35rem;
  font-weight: 600;
  margin: 10px 55px 20px 500px;
  width: 35%;
}

/* Gallery Preview */
.grid {
  display: grid;
  grid-gap: 0.5rem;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 3fr 4fr 4fr;
  padding: 25px 30px;
}

.img-container {
  background-color: #777;
}

.img1 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/Copia_de_Nuevo.png");
  background-size: cover;
  /* grid-column: 1/2; */
  grid-row: 1/60;
}

.img2 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/another\ one\ bites\ the\ dust.png");
  background-size: cover;
  grid-row: 1/75;
}

.img3 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/PISCINA.png");
  background-size: cover;
  grid-row: 1/75;
}

.img4 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/Orquídea.png");
  background-size: cover;
  grid-row: 60/120;
}

.img5 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/Destinos.png");
  background-size: cover;
  grid-column: 2/4;
  grid-row: 75/120;
}

.img6 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/ELECHI.PNG");
  background-size: cover;
  grid-row: 120/190;
}

.img7 {
  background: 100% 100%;
  background-image: url("../Images/Art_Work/LIMON.PNG");
  background-size: cover;
  grid-row: 120/190;
}

.mg-btn {
  /* border: 2px; */
  font-size: 1.2rem;
  font-weight: 600;
  margin: 30px 30px;
  /* padding: 10px; */
  text-align: center;
  width: 13%;
}
.mg-btn:focus {
  box-shadow: none;
}

/* Art Process */
#art-process .col, .row {
  padding: 0;
  margin: 0;
}

.title {
  color: #111;
  font-family: 'Rufina', serif;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 40px 30px;
  margin: 0;
}

/* #ap-carousel {
  display: inline-block;
  padding-bottom: 30px;
  width: 45%;
} */

/* .carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #444;
} */

.ap-header {
  font-weight: 300;
  margin-bottom: 20px;
}

.ap-description {
  font-size: 1.25rem;
} 

/* Contact me */
.cta-header {
  color: #444;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 50px 20px 5px;
}

.cta-description {
  color: #444;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 25px 20px;
  width: 65%;
}

.cta-btn {
  font-size: 1.4rem;
  margin: 0 20px 30px;
  padding: 20px;
}

.cta-btn:focus {
  box-shadow: none;
}



